# PyCamp:  Next Level
### Camp MightyMoose

## FAQ

Q: What IDE should I use?

A: Try out a bunch!  The instructor will show you several.

Q: What version of Python will we need?

A: Python3 or later (not 2.7)

## DAY ONE

Python is used for many purposes in many walks of life.

We're going to tell stories (share lore) and take hikes (work out).

Example Workout:

* Create your Github account (if you don't already have one)

* Download Anaconda distro of Python

Looking for games?

How about Pygame?  Repl.it lets you try it out.

Hike:

Run, Fork, Port, Modify any / all of the following:

* [PyCamp Screen Saver](https://repl.it/@kurner/PyCamp-Screen-Saver)

* [FishyDemo2](https://repl.it/@kurner/FishyDemo2)

If you get serious about Pygame, install it locally (e.g. through PyCharm).

## DAY TWO

Some of our skill building topics:

* downloading and installing packages with conda and pip

* importing modules and packages

* Python and Unicode (printing ranges of unicode characters)

* sys.argv and passing arguments from the command line

## DAY THREE

#### Machine Learning

Lets use a fine specimen of [an on-line tutorial](https://www.codementor.io/@garethdwyer/introduction-to-machine-learning-with-python-s-scikit-learn-czha398p1), forked to add requirements.txt so we can run it in binder.

Stories about ML / DL (overview of AI)

Hike:

* Warm up on [Repl.it](https://repl.it/@kurner/machine-learning-intro)

* Dive in on [sklearn-intro](https://github.com/4dsolutions/sklearn-intro)

## DAY FOUR

#### Database Operations

Stories about Data Science

Topics:

* context managers in Python (a type of class used with keyword "with")

* connection versus cursor objects

* SQL (via sqlite3)

* pandas DataFrame

Hike:

* Clone or Unzip a Github Repo

* Skill build around SQL

* Skill build around Jupyter Notebooks and Jupyter Lab

In [34]:
import usercrud

In [13]:
# you might need a cell like this to force recompilation of a module
# import imp
# imp.reload(usercrud)

In [35]:
def table():
    print("Users Table")
    for record in usercrud.fetch_all():
        print("{:10} {:256}".format(*record))

In [32]:
table()

Users Table
Kirby      ddf2a38475000a193e170a88cc769a0e3e34d81df8280d5cba8764ad0f6af168
ScoobyDoo  6c75caf4fe6f5ef7a31795e0070575c0c80e5e86494007d7fbec58b1fff943f4
BigBird    6c75caf4fe6f5ef7a31795e0070575c0c80e5e86494007d7fbec58b1fff943f4

In [36]:
import pandas as pd
import sqlite3 as sql
con = sql.connect("./data/x_files.db")
data=pd.read_sql_query("SELECT  count(*) as how_many, shape "
                       "FROM ufo_sightings GROUP BY shape ORDER BY how_many", con)
data.head()

   how_many     Shape
0         1      DOME
1         1     FLARE
2         1   HEXAGON
3         1   PYRAMID
4         2  CRESCENT

## DAY FIVE

#### Pulling It All Together

Lets build a web server and run it on localhost!

Stories:

Python and Websites (some of the solutions)

[Example Website](http://thekirbster.pythonanywhere.com)

Topics:

* HTTP

* JSON, CSV, XML


Hike:

* conda install flask

* conda install requests

* run and modify CampApp

In [1]:
import requests

In [11]:
myrequest = requests.get("http://thekirbster.pythonanywhere.com/api/elements?elem=H")

In [12]:
myrequest.text

'[1, "H", "Hydrogen", 1.008, "diatomic nonmetal", 1498013115, "KTU"]'